<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="jumbotron page-header-container text-center" ng-class="{'pink': (post.category === 'Ask the NeighborHood'), 'purple': (post.category === 'Events'), 'blue': (post.category === 'Buy/Sell'), 'yellow': (post.category === 'The Local Pages'), 'red': (post.category === 'Alerts')}">
      <a class="back-link hand no-style" href="#/Ask%20the%20NeighborHood">Back</a>
      <h1 class="page-header">{{post.category}}</h1>
      <p class="page-header">Make posts to connect neighbor-to-neighbor</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1 posts-container">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="post">
        <h3>{{post.title}}</h3>
        <div class="row">
          <span class="post-author col-sm-3"><a class="hand" ng-click="openUserInfo(post.user)">{{post.user.firstName}} {{post.user.lastName}}</a></span>
          <span class="post-comments col-sm-6">{{ postService.getComments(post._id).length }} Comments</span>
          <span class="post-time col-sm-2 text-right"><time am-time-ago="post.date"></time></span>
          <span class="post-fav col-sm-1 text-right" ng-click="savePost(post)" ng-hide="post.saved">☆</span>
          <span class="post-fav col-sm-1 text-right" ng-click="unsavePost(post)" ng-show="post.saved">★</span>
        </div>
      </div>
    </div>
    <div class="col-sm-8 col-sm-offset-2 post-message">
      <p>{{post.message}}</p>
    </div>
    <div class="col-sm-8 col-sm-offset-3">
      <ul class="comments">
        <li class="comment" ng-repeat="comment in postService.getComments(post._id) | orderBy:'-'">
          <img class="comment-pic grey-circle-sm" src="../images/grey-circle.png" />
          <div class="comment-content">
            <p>{{comment.text}}</p>
            <span><a class="hand" ng-click="openUserInfo(comment.user)">{{comment.user.firstName}} {{comment.user.lastName}}</a></span>
          </div>
        </li>
        <li class="new-comment">
          <form>
            <div class="form-group">
              <img class="comment-pic grey-circle-sm" src="../images/grey-circle.png" />
              <textarea placeholder="Add Comment" class="form-control new-comment-text" id="text" ng-model="newComment.text" />
              <button class="btn btn-primary" type="submit" ng-click="createNewComment()">Submit</button>
            </div>
          </form>
        </li>
      </ul>
    </div>
  </div>
</div>

<!--ng-class="{'col-sm-offset-2': $index%2 == 0, 'col-sm-offset-1': $index%2 == 1}" ng-repeat="category in categories"-->