<header class="image-bg-fluid-height">
		<h1 class="white fade">Clarendon Hills</h1>
</header>

<div class="row">
	<div class="col-sm-offset-1 col-sm-11">
		<div class="row">
			<div class="col-sm-11">
				<div class="alert alert-danger alert-heading" role="alert">
			  		<a href="#" class="alert-link white">Alert!</a>
			  		<a class="alert-link white hand alert-text">{{categoryService.mostRecentAlert().title}} </a>
				  	<div class="pull-right">
				  		<span class="badge alert-time"><time am-time-ago="categoryService.mostRecentAlert().date"></time></span>
						<i class="fa fa-plus-circle fa-lg white hand" aria-hidden="true" ng-click="open('Alerts')"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-5">
				<div class="panel-success panel panel-default">
				  <!-- Default panel contents -->
					<div class="panel-heading events-panel-heading">
						<h3 class="panel-title pull-left hand">Events</h3>
						<div class="pull-right">
							<i class="fa fa-plus-circle fa-lg fa-panel" aria-hidden="true" ng-click="open('Events')"></i>
						</div>
        				<div class="clearfix"></div>
					</div>
					<div class="panel-body">
					  	<ul class="list-group">
						   	<li class="list-group-item" ng-repeat="post in categoryService.getCategories()['Events'] | orderBy:'-' | limitTo: 3">
						   		<span class="badge"><time am-time-ago="post.date"></time></span>

						   		<b class="hand">{{post.title}}</b>
						   		<h6><a class="hand" ng-click="openUserInfo(post.user)">{{post.user.firstName}} {{post.user.lastName}}</a></h6>
						   	</li>
						</ul>
					</div>
					  <!-- List group -->
				</div>
			</div>
			<div class="col-sm-5 col-sm-offset-1">
				<div class="panel-info panel panel-default">
				  <!-- Default panel contents -->
					<div class="panel-heading buysell-panel-heading">
						<h3 class="panel-title pull-left hand">Buy/Sell</h3>
						<div class="pull-right">
							<i class="fa fa-plus-circle fa-lg fa-panel" aria-hidden="true" ng-click="open('Buy/Sell')"></i>
						</div>
        				<div class="clearfix"></div>
					</div>
					<div class="panel-body">
					  	<ul class="list-group">
						   	<li class="list-group-item" ng-repeat="post in categoryService.getCategories()['Buy/Sell'] | orderBy:'-' | limitTo: 3">
						   		<span class="badge"><time am-time-ago="post.date"></time></span>
						   		<b class="hand">{{post.title}}</b>
						   		<h6><a class="hand" ng-click="openUserInfo(post.user)">{{post.user.firstName}} {{post.user.lastName}}</a></h6>
						   	</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-5">
				<div class="panel-warning panel panel-default">
				  <!-- Default panel contents -->
					<div class="panel-heading recommendations-panel-heading">
						<h3 class="panel-title pull-left hand">Recommendations</h3>
						<div class="pull-right">
							<i class="fa fa-plus-circle fa-lg fa-panel" aria-hidden="true" ng-click="open('Recommendations')"></i>
						</div>
        				<div class="clearfix"></div>
					</div>
					<div class="panel-body">
					  	<!-- List group -->
						<ul class="list-group">
						   	<li class="list-group-item" ng-repeat="post in categoryService.getCategories()['Recommendations'] | orderBy:'-' | limitTo: 3">
						   		<span class="badge"><time am-time-ago="post.date"></time></span>
						   		<b class="hand">{{post.title}}</b>
						   		<h6><a class="hand" ng-click="openUserInfo(post.user)">{{post.user.firstName}} {{post.user.lastName}}</a></h6>
						   	</li>
						</ul>
					</div>

				</div>
			</div>
			<div class="col-sm-5 col-sm-offset-1">
				<div class="panel-danger panel panel-default">
				  <!-- Default panel contents -->
					<div class="panel-heading inquiries-panel-heading">
						<h3 class="panel-title pull-left hand">Inquiries</h3>
						<div class="pull-right">
							<i class="fa fa-plus-circle fa-lg fa-panel" aria-hidden="true" ng-click="open('Inquiries')"></i>
						</div>
        				<div class="clearfix"></div>
					</div>
					<div class="panel-body">
					  	<!-- List group -->
						<ul class="list-group">
						   	<li class="list-group-item" ng-repeat="post in categoryService.getCategories()['Inquiries'] | orderBy:'-' | limitTo: 3">
						   		<span class="badge"><time am-time-ago="post.date"></time></span>
						   		<b class="hand">{{post.title}}</b>
						   		<h6><a class="hand" ng-click="openUserInfo(post.user)">{{post.user.firstName}} {{post.user.lastName}}</a></h6>
						   	</li>
						</ul>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-sm-12 text-center new-post-section">
	<button class="btn btn-primary btn-xl" ng-click="open()">New Post</button>
</div>
