<div class="modal-header">
    <h3 class="modal-title">New Post!</h3>
</div>
<div class="modal-body" id="modal-body-{{name}}">
	<form>
		<div class="form-group">
			<label for="title_text">Title</label>
		    <input type="text" class="form-control" id="title_text" ng-model="post.title">
		</div>
		<div class="form-group">
			<label for="exampleSelect1">Category</label>
		    <select class="form-control" id="exampleSelect1" ng-model="post.category">
			    <option ng-repeat="(category, _) in categoryService.getCategories()">{{category}}</option>
		    </select>
		</div>
		<div class="form-group">
			<label for="meesage_text">Message</label>
		    <textarea class="form-control" id="meesage_text" rows="2" ng-model="post.message"></textarea>
	  	</div>
	  	<div>
	  		<label for="">Start time (if applicable)</label>
	  		<p class="input-group" style="max-width: 250px">
		  		<input
	              type="text"
	              class="form-control"
	              readonly
	              uib-datepicker-popup="dd MMMM yyyy"
	              ng-model="post.startsAt"
	              is-open="startIsOpen"
	              close-text="Close">
		          <span class="input-group-btn">
			            <button
			                type="button"
			                class="btn btn-default"
			                ng-click="toggleEventStart()">
			                <i class="glyphicon glyphicon-calendar"></i>
			            </button>
			      	</span>
		        	<div
			            uib-timepicker
			            ng-model="post.startsAt"
			            hour-step="1"
			            minute-step="15"
			            show-meridian="true">
	          		</div>
	        </p>
	  	</div>
	  	<div>
	  		<label for="">End time (if applicable)</label>
	  		<p class="input-group" style="max-width: 250px">
		  		<input
	              type="text"
	              class="form-control"
	              readonly
	              uib-datepicker-popup="dd MMMM yyyy"
	              ng-model="post.endsAt"
	              minDate="post.startsAt"
	              is-open="endIsOpen"
	              close-text="Close">
		          <span class="input-group-btn">
			            <button
			                type="button"
			                class="btn btn-default"
			                ng-click="toggleEventEnd()">
			                <i class="glyphicon glyphicon-calendar"></i>
			            </button>
			      	</span>
		        	<div
			            uib-timepicker
			            ng-model="post.endsAt"
			            hour-step="1"
			            minute-step="15"
			            show-meridian="true">
	          		</div>
	        </p>
	  	</div>
	</form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-click="ok()">Submit</button>
    <button class="btn btn-secondary" type="button" ng-click="cancel()">Cancel</button>
</div>
