<div class="row">
	<div class="col-sm-11 col-sm-offset-1">
		<h2>Saved Posts</h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-offset-2 col-sm-8 saved-posts">
		<div class="row">
			<form class="form-horizontal" role="form">
				<div ng-repeat="post in savedPosts">
					<div class="form-group">
						<label class="col-sm-4 control-label pull-left saved-post hand" ng-click="open(post.post)" ng-class="{'pink': (post.post.category === 'Ask the NeighborHood'), 'purple': (post.post.category === 'Events'), 'blue': (post.post.category === 'Buy/Sell'), 'yellow': (post.post.category === 'Recommendations'), 'red': (post.post.category === 'Alerts')}">{{post.post.title}}</label>
						<div class="col-sm-2 hand delete-saved-post" ng-click="unsavePost(post.post)"><span>×</span></div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- <select class="form-control notification-option selectpicker" data-style="btn-primary" id="notification{{$index}}" ng-model="subs[key]">
							    <option ng-repeat="time in userService.getTimes()">{{time}}</option>
						    </select> -->
<!-- <md-select ng-model="subs[key]" class="notification-option"> 
								<md-option ng-repeat="time in userService.getTimes()" ng-value="time">{{time}}</md-option>
						    </md-select> -->