<div class="row">
	<div class="col-sm-11 col-sm-offset-1">
		<h2>Notification Settings</h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-offset-2 col-sm-4 notifications">
		<div class="row">
			<form class="form-horizontal" role="form">
				<div ng-repeat="(key, val) in subs">
					<div class="form-group">
						<label for="notification{{$index}}" class="col-sm-4 control-label pull-left">{{key}}</label>
						 <div class="col-sm-6 pull-right">
						 	<select class="form-control notification-option selectpicker" data-style="btn-primary" id="notification{{$index}}" ng-model="subs[key]">
							    <option ng-repeat="time in userService.getTimes()">{{time}}</option>
						    </select>
						 
						 </div>
					</div>
				</div>
			</form>
		</div>
		<div class="row text-center notification-button">
			<button class="btn btn-primary" type="submit" ng-click="save()">Save</button>
    		<button class="btn btn-secondary" type="button" ng-click="cancel()">Cancel</button>
		</div>
	</div>
</div>

<!-- <select class="form-control notification-option selectpicker" data-style="btn-primary" id="notification{{$index}}" ng-model="subs[key]">
							    <option ng-repeat="time in userService.getTimes()">{{time}}</option>
						    </select> -->
<!-- <md-select ng-model="subs[key]" class="notification-option"> 
								<md-option ng-repeat="time in userService.getTimes()" ng-value="time">{{time}}</md-option>
						    </md-select> -->