/*h1{
	color: red;
}*/
html, body, h1, h2, h3, h4, h5 {
    font-family: helvetica;
}
body{
	    background-color: #ececec;
}
.hand {
    cursor: pointer;
}
.whiteBackground{
    background-color: white;
}
.white {
    color: white !important;
}
.appname-standard-border{
    border: 1px solid #e8e8e8;
}
.appname-form{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
}

.alert-text {
    margin-left: 15px;
}

.animate-view.ng-animate {
    -webkit-transition:all linear .5s;
    transition:all linear .5s;
}
.animate-view.ng-leave,
.animate-view.ng-leave.ng-leave-active{
    display:none;
}
.animate-view.ng-enter {
    opacity: 0;
}
.animate-view.ng-enter.ng-enter-active {
    opacity:1;
}
.navbar-default {
    background-color: #20c9ad;
    color: white;
}

.width-xl {
    width: 150%;
}

.text-xl {
    font-size: 32px;
}
/*
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}
*/

.image-bg-fluid-height,
.image-bg-fixed-height {
    text-align: center;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    background-size: cover !important;
    -o-background-size: cover !important;
}

header{
    margin-bottom: 20px;
}
.navbar {
    margin-bottom: -13px;
}

.searchbar .dropdown-menu {
    width: 81%;
}


.image-bg-fluid-height {
    background: url('../images/ClarendonHills.jpg') no-repeat center center scroll;
    padding: 100px 0;
}

.img-center {
    margin: 0 auto;
}

.fade {
    opacity: 0.8;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.btn-xl {
    padding: 10px 60px;
    font-size: 12px; /* change this to your desired size */
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.new-post-section {
    margin-top: 20px;
    /*margin-bottom: 30px;*/
}

.notifications {
    margin-top: 30px;
}

.fa-panel{
    vertical-align: -50% !important;
    cursor: pointer;
}

.panel-body .list-group-item {
    border-left: none;
    border-right: none;
    z-index: 0;
    border-radius: 0;
}

.panel-body .list-group-item:first-child {
    border-top: none;
}
.panel-heading {
    color: white !important;
}

.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}

.events-panel-heading {
    background-color: #9168b6 !important;
}
.purple {
  background-color: #9168b6 !important;
}
.buysell-panel-heading {
    background-color: #00b8ec !important;
}
.blue {
  background-color: #00b8ec !important;
}
.recommendations-panel-heading {
    background-color: #f1e648 !important;
}
.yellow {
  background-color: #f1e648 !important;
}
.inquiries-panel-heading {
  background-color: #ff5b9d !important;
}
.pink {
  background-color: #ff5b9d !important;
}
.red {
  background-color: #ff0c31 !important;
}
.btn-primary {
    background-color: #20c9ad !important;
    border-color: #cdede7;
}
.label-checkbox {
  margin-left: 5px;
}
.alert-heading {
    background-color: #ff0c31;
}

.notification-option {
    background-color: #20c9ad !important;
    color: white;
    opacity: .8 !important;
}

.notification-button button {
    margin-right: 40px;
}
.form-horizontal .control-label{
    text-align:left;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: #20c9ad;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background-color: #20c9ad;
}

.alert-time {
/*    margin-right: 20px !important;
*/}

.jumbotron.page-header-container{
  background-color: #F175A2;
  padding: 10px;
  margin-top: 80px;
}

.jumbotron.page-header-container .page-header{
  margin-top: 10px;
  color: #fff;
  border: 0px;
}

.posts-container{
  background-color: #fff;
  border: 1.5px solid #ccc;
}

.posts{
  padding-left: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.post{
  list-style: none;
  padding-bottom: 15px;
}

.post:not(:last-child){
  border-bottom: 1px solid #ccc;
}

.post-fav{
  cursor: pointer;
}

a.no-style{
  color: inherit;
}

a.no-underline{
  text-decoration: inherit;
}

a.back-link{
  position: absolute;
  left: 0px;
  transform: translateX(40%);
  margin-top: -34px;
  font-size: 1.4em;
}

.post-message{
  padding: 35px 0px;
  font-size: 12pt;
  border-bottom: 1px solid #ccc;
}

.comment{
  list-style: none;
  min-height: 60px;
  padding: 20px 0px;
}

.comments .comment{
  border-bottom: 1px solid #ccc;
}

.comment-pic{
  float: left;
}

.new-comment{
  list-style: none;
}

.new-comment-text{
  float: right;
  width: calc(100% - 60px);
}

.comment .comment-content{
  /*flo/at: right;*/
  display: inline-block;
  width: calc(100% - 60px);
  padding: 0px 10px;
}

.comment .comment-content p{
  font-size: 12pt;
  margin-bottom: 2px;
}

.comment .comment-content span{
  font-size: 8pt;
  color: #666;
}

.new-comment button{
  float: right;
  margin-top: 10px;
  margin-bottom: 20px;
}

.comments{
  padding-left: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.grey-circle {
    height: 100px;
    width: 100px;
}

.grey-circle-sm {
    height: 50px;
    width: 50px;
}

.navbar-inverse { background-color: #FFFFFF; padding-bottom: 5px; padding-right: 100px; margin:0px;}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #FFFFFF; font-weight: bold;}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #FFF}
.navbar-inverse .dropdown-menu { background-color: #1070DE}
.navbar-inverse .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #1070DE}
.navbar-inverse { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: #e8e8e8}
.navbar-inverse .navbar-brand { color: rgb(67,67,67); padding-left: 70px;}
.navbar-inverse .navbar-brand:hover { color: #000000}
.navbar-inverse .navbar-nav>li>a {  margin-top:10px; font-weight: bold;} /*color: rgb(67,67,67);*/
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #000}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #1070DE}
.dropdown-menu>li>a { color: #333333}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #1070DE;}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #1070DE}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #555555}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #FFF}
